body{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
/*First section*/
.section{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-top: 0;
    padding-bottom: 40px;
    padding-left: 220px;
    padding-right: 220px;
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.logo{
    display: flex;
    align-items: center;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.links{
    display: flex;
    gap: 16px;
    align-items: center;
    list-style-type: none;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.introduction{
    display: flex;
    flex:1;
    justify-content: space-between;
    gap: 24px;
    margin: 0;
    padding: 80px 0;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.container p{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    padding: 0;
    margin: 0;
}

.picture-box{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.picture{
    width:500px;
    height: 280px;
    object-fit: cover;
}

/*Second section*/

.informations{
    padding: 40px 220px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h2{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 0;
    margin: 0;
}

.cards-container{
    display: flex;
    justify-content: center;
    padding: 30px 120px;
    gap: 60px;
}

.infos-card{
    flex-direction: column;
    text-align: center;
    width: 160px;
}

.clipart{
    width: 160px;
    height: 160px;
    border-radius: 15px;
    border: 4px solid #3882F6;
    margin: 0;
    padding: 0;
}

.infos-card legend{
    text-align: justify;
    text-align-last: center;
    color: #1F2937;
    font-size: 18px;
}

/*Third section*/

.quote{
    background-color: #E5E7EB;
    padding: 100px 320px;
}

.citation{
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
}

.author{
    font-size: 24px;
    color: #1F2937;
    font-weight: 900;
    text-align: right;
}

/*Fourth section*/

.alert{
    padding: 100px 200px;
    margin: 0;
    display: flex;
}

.login-box{
    background-color: #3882F6;
    display: flex;
    padding: 50px 100px;
    justify-content: space-between;
    border-radius: 6px;
    align-items: center;
    gap: 40px;
}

.message{
    min-width: 300px;
}

.appeal{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.description{
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

/*Fifth section*/

.footer{
   background-color: #1F2937;
   display: flex;
   padding: 40px;
   justify-content: center;
   color: #E5E7EB;
   font-size: 18px;
   text-align: center;
   padding-left: 220px;
    padding-right: 220px;
    margin: 0;
}

button{
    padding: 6px 30px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    font-size: 18px;
    border: none;
    width:fit-content;
    flex-shrink: 0;
}

.border{
    border: 2px solid #F9FAF8;
}

